<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大唐豪侠怀旧服-物品掉落数据</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        tbody tr td{font-size: 12px; font-weight: bold;}
    </style>
</head>
<body>
黑水腰牌，烈火腰牌，怒风腰牌，狂沙腰牌，铁甲的碎片，钢刀的碎片，链甲的碎片，铁箭的碎片，
孔雀翎，宝带翎，雕翎，珠宝盒，菩提珠，勇士之珠，斗土之珠，白虎之珠，玉穗子，宝石穗子，如意香囊，绣花荷包
<div style="width: 800px; margin: 0 auto;">
    <h2>大唐豪侠怀旧服-物品掉落数据</h2>
    <table class="table table-condensed text-nowrap table-striped table-bordered">
        <thead>
        <tr>
            <th>物品</th>
            <th>地图-怪物(等级)</th>
            <th>用处</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>黑水腰牌</td>
            <td>-(级)</td>
            <td></td>
        </tr>
        <tr>
            <td>烈火腰牌</td>
            <td>刀锋镇-侍火使者(23级)</td>
            <td></td>
        </tr>
        <tr>
            <td>怒风腰牌</td>
            <td>-(级)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>-(级)</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>